---
import Canvas from 'components/Canvas.tsx';
import Header from 'components/Header.tsx';
import Footer from 'components/Footer.tsx';

let title = 'Instagram Job Post Editor | dgtal.id';

---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>
	<link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
	<link rel="preconnect" href="https://fonts.googleapis.com"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"/>
	<link rel="stylesheet" href={Astro.resolve('../styles/global.scss')} />
	<style>
		.wrapper {
			max-width: 60em;
		}
	</style>
</head>
<body>
	<Header/>
	<main>
		<div class="wrapper mxauto">
			<h1>
				Made with{' '}
				<a href='https://astro.build' target='_blank' rel='noopener noreferrer'>
					Astro
				</a>{' '}
				+ React.js + TypeScript +{' '}
				<a href='http://fabricjs.com' target='_blank' rel='noopener noreferrer'>
					Fabric.js
				</a>{' '}
				styled with{' '}
				<a
					href='https://github.com/kognise/water.css'
					target='_blank'
					rel='noopener noreferrer'
				>
					Water.css
				</a>
			</h1>
		</div>
		<Canvas client:visible />
	</main>
	<Footer/>
</body>
</html>
